#right-box-title{
	position: absolute;
    left: 70px;
    top: 45px;
}
.right-box-title-font{
	color: #0099CB;
}
#right-box-font1{
	float: left;
}
#right-box-font2{
	position: relative;
	left: 20px;
	float: left;
}
#right-box-font3{
	position: relative;
	left: 50px;
	float: left;
}
#right-box-img{
	position: absolute;
	left: 900px;
}
#right-box-hr1{
	position: absolute;
	top: 90px;
	left: 33px;
	size: 1;
	width: 1000px;
}
#right-box-title2{
	position: absolute;
    left: 70px;
    top: 90px;
}
#right-box-hr2{
	position: absolute;
	top: 135px;
	left: 33px;
	size: 1;
	width: 1000px;
}
#right-box-text1{
	text-align:right;
	position: absolute;
	top: 110px;
	left: 70px;	
}
#right-box-text2{
	position: absolute;
	top: 110px;
	left: 200px;
}
#right-box-text3{
	text-align:right;
	position: absolute;
	top: 110px;
	left: 430px;
}

#right-box-text4{
	position: absolute;
	top: 110px;
	left: 600px;
}
#right-box-text5{
	position: absolute;
	top: 400px;
	left: 90px;
}
.right-box-item{
	font-size: 20px;
}
#right-box-hr3{
	position: absolute;
	top: 430px;
	left: 33px;
	size: 1;
	width: 1000px;
}
#right-box-button{
	position: absolute;
	top: 470px;
}
#right-box-button-xiugai{
	text-align:center;
	line-height: 38px;
	position: absolute;
	left: 90px;
	border-radius: 5px;
	border: 0px;
	width: 89px;
    height: 38px;
	background-color: #0099FF;
	font-family: 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
#right-box-button-shanchu{
	text-align:center;
	line-height: 38px;
	position: absolute;
	left: 250px;
	border-radius: 5px;
	border: 0px;
	width: 89px;
    height: 38px;
	background-color: #FF0033;
	font-family: 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
