a{
	text-decoration: none;
}
th {
	width: 150px;
	BORDER-RIGHT: lightblue 1px dashed;
	BORDER-TOP: lightblue 1px dashed;
	BORDER-LEFT: lightblue 1px dashed;
	BORDER-BOTTOM: lightblue 1p dashed;
	background-color: lightblue;
}

button.hover {
	cursor: pointer;
}

#normal {
	width: 150px;
}

#interview_time {
	left: 50px;
	top: 20px;
	position: absolute;
	width: 500px;
}

#interview_Job {
	left: 500px;
	top: 20px;
	position: absolute;
	width: 250px;
}

#addnewInterview {
	left: 830px;
	top: 20px;
	position: absolute;
	width: 130px;
	height: 30px;
}

#addbutton {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 0px;
	background-color: rgba(0, 204, 204, 1);
	font-family: 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: white;
}

#interview_name_address_info {
	left: 55px;
	top: 60px;
	position: absolute;
	width: 300px;
	width: 650px;
	height: 30px;
	font: "蠕ｮ霓ｯ髮�鮟�";
}

#interviewInfo {
	width: 100%;
	height: 100%;
}

#s {
	left: 720px;
	top: 60px;
	width: 117px;
	height: 30px;
	position: absolute;
}

#r {
	left: 850px;
	top: 60px;
	width: 110px;
	height: 30px;
	position: absolute;
}

#search_button {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 0px;
	background-color: rgba(255, 102, 0, 1);
	font-family: 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: white;
}

#reset_button {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 0px;
	background-color: rgba(0, 204, 204, 1);
	font-family: 'Microsoft YaHei Negreta', 'Microsoft YaHei Normal', 'Microsoft YaHei';
	font-weight: 700;
	font-style: normal;
	font-size: 14px;
	color: white;
}

#table {
	BORDER-RIGHT: lightblue 1px solid;
	BORDER-TOP: lightblue 1px solid;
	BORDER-LEFT: lightblue 1px solid;
	BORDER-BOTTOM: lightblue 1px solid;
	height: 380px;
	left: 50px;
	top: 110px;
	position: absolute;
}

#pageChange {
	left: 50px;
	top: 500px;
	position: absolute;
}

#message {
	left: 880px;
	top: 500px;
	position: absolute;
}

#updateBtn {
	border-width: 0px;
	width: 38px;
	height: 25px;
	background: inherit;
	background-color: rgba(22, 155, 213, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
}

#deleteBtn {
	border-width: 0px;
	width: 38px;
	height: 25px;
	background: inherit;
	background-color: rgba(255, 0, 0, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
}

#interviewBtn {
	border-width: 0px;
	width: 74px;
	height: 25px;
	background: inherit;
	background-color: rgba(255, 102, 0, 1);
	border: none;
	border-radius: 5px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
	font-weight: 700;
	font-style: normal;
	color: #FFFFFF;
}