hr{
	width: 1000px;
}
h1{
	margin-left:80px;
}
#right-box-east{
	float: left;
	margin-left: 150px;
	margin-top:23px;
}
#right-box-west{
	float: right;
	margin-right: 150px;
	margin-top:16px;
}
#salary{
	width: 156px;
	height: 16px;
	margin-left: 3px;
}
#btn{
	float: right;
	margin-right: 200px;
}
#font{
	margin-top:20px;
	width:100px;
	height:100px;
}
#input{
	margin-top:20px;
	width:100px;
	height:100px;
}
#jobName{
	margin-top:20px;
}
#jobCount{
	margin-top:20px;
}
#jobStatus{
	margin-top:20px;
}
#jobCreate{
	margin-top:20px;
}
#jobSalary{
	margin-top:20px;
}
#jobDate{
	margin-top:20px;
}
#cutBtn{
	margin-top:40px;
}
#adjBtn{
	background:#00ccff;
	width:120px;
	height:40px;
	border-radius:10px;
	margin-left:111px;
}
input{
	width:170px;
	height:27px;
}
font{
	font-size:20px;
}
#jobIntroduciton{
	
}
#jobCondition{
	margin-top:60px;
}
textarea{
	width:300px;
	height:80px;
}
#submit00{
	width:120px;
	height:40px;
	margin-top:100px;
	outlineÅFnone;
}
#cancel{
	width:120px;
	height:40px;
	margin-top:100px;
	outlineÅFnone;
}
