#job{
	width: 1067px;
	height: 551px;
}
#job-search{
	width: 276px;
	height: 36px;
	border: 1px solid black;
	float: left;
	margin-left: 50px;
	border-radius:15px;
	margin-top:10px;
	
}
#job-search-img{
	width: 22px;
	height: 22px;
	float: left;
	margin-top: 5px;
}
#job-search-input{
	width: 179px;
	height: 22px;

}
#job-search-button{
	width: 56px;
	height: 22px;
	margin-top: 7px;
	margin-left: 5px;
	margin-right: 5px;
	background: #d7d7d7;
	border-radius:15px;
	outline：none;
}
#job-add{
	top:-38px;
	left:800px ;
	width: 125px;
	height: 33px;
	border: 1px solid black;
	border-radius:15px;
	position:relative;
	margin-top: 8px;
}
#job-add-button{
	width: 73px;
	height: 25px;
	margin-left: 10px;
	margin-top: 5px;
	position: absolute;
	background: #ffff80;
	border-radius:15px;
	outline：none;
}
#job-add-img{
	width: 30px;
	height: 27px;
	margin-top: 4px;
	margin-left: 90px;

}
#job-table{
	width: 962px;
	height: 463px;
	margin-left:60px;
	
}
#job-table-list{
	width: 900px;
	height: 120px;
	margin-top: 30px;
	text-align: center;

}
td,th{
	width: 228px;
	height: 55px;
}

tr:nth-child(2n){background:#d7d7d7;}

/*#job-page{
	float: right;
	width: 25px;
	height: 120px;
}*/

#page{
	text-align: center;
	margin-top: 50px;
	margin-left: 500px;
}

#page a{
	text-decoration: none;
	border: 1px solid black;
	border-radius:5px;
	font-size: 18px;
	color: #000000;
	background: #00ccff;

}

#page-text{
	width: 18px;
	height: 15px;
	position: absolute;
	
}
#page-button{
	margin-left: 25px;
	position: absolute;
	margin-left: 33px;
	margin-top: 10px;
	width: 44px;
	height: 20px;
}

#button-status1{
	background: #009900;
	width: 52px;
	height: 25px;
	border-radius:5px;
	outline：none;
}
#button-status0{
	background: red;
	width: 52px;
	height: 25px;
	border-radius:5px;
	outline：none;
}

#button-modify{
	background: #169bd5;
	width: 52px;
	height: 25px;
	border-radius:5px;
	outline：none;
}

#button-delete{
	background: #ff0000;
	width: 52px;
	height: 25px;
	border-radius:5px;
	position: absolute;
	outline：none;
}

#button-template{
	background: #ff6600;
	width: 75px;
	height: 25px;
	border-radius:5px;
	margin-left: 55px;
	outline：none;
}
a{
	text-decoration:none; 
	color:blue;
}
