body{
	background: #EEE8CD;
	margin: auto;
	width: 80%
}
h1{
	position: relative;
	top: 30px;
	text-align:center;
}
h3{
	position: relative;
	top: 30px;
	text-align:center;
}
p{	
	position: relative;
	top: 60px;
	text-align:center;
}

