html,body {
    margin: 0;
    padding: 0;
    text-align: center;
}
#header{
	width:100%;
	height: 127px;
}
#box{
	position: relative;
	width: 1299px;
	margin:0 auto;
}

#lefter{
	position: absolute;
	width: 158px;
}
#right{
	position: absolute;
	left:158px ;
	width: 1140px;
    height: 599px;
	background-color: #99CCFF;
}
#right-box{
	position: absolute;
	left: 36px;
	top: 20px;
	width: 1067px;
    height: 551px;
    background: white;
   	border: none;
    border-radius: 26px;
}

.
