body {
    width: 100%;
    background-color: #EEE8CD;
}

li {
list-style-type:none;
}

.group-property {
    width: 60%;
    margin: 0px auto;
    padding: 0px 0px 30px;
    overflow: hidden;
    display: block;
}
.group-property .left {
	float: left;
    width: 28%;
    background: #fff;
    text-align: center;
    position: relative;
}
.left img {
    display: block;
    width: 198px;
    height: 198px;
    margin: 10px auto 0;
}
.left h2{
	top: 50px;
}


.group-property .right {
	padding: 20px;
	position: relative;
	float: right;
    width: 68%;
    background: #fff;
 
}

#right ul{
	overflow: hidden;
    width: 100%;
    display: block;
}
#right ul li{
	overflow: hidden;
}


.phone-ROM{
	display:inline
}
p{
	display:inline
}
.phone-sub{
	border-radius: 10px;
	width: 15%;
	height: 70px;
	font-size: 100%;
}
