body{
	margin: auto;
	width: 80%;
	background: #EEE8CD;
}
ul,li{
	margin:0px;
	padding:0px;
	border:none;
	list-style:none;
}
nav#head{
	background: #EEE8CD;
}
div#lunbo{
	border:2px solid;
	border-radius:10px;
	width: 80%
	position: absolute;
	top: 60px;
}

#fenlei{ 
	position: relative;
	top: 50px;
	font-size: 18px;
	width: 100%;
}

#fenlei p{
	width: 100%;
	text-align:center;
	margin: 0 auto;;
	font-size: 30px;
}

#fenlei ul{ 
	width: 100%;
	margin: 0 auto;
	
}
#fenlei ul li{
	text-align:center;
	font-size: 25px;
	 height: 50px; 		
}

#section-flow {
	position: relative;
	top: 200px;
    height: 167px;
    width: 100%;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
   background: #EEE8CD;
}
#section-flow ul {
    width: 80%;
    margin: 0 auto;
}
#section-flow ul li {
    margin-top: 30px;
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;

}

#section-flow ul li:nth-child(1) i {
    content: '';
    width: 60px;
    height: 60px;
    background: url(../img/icon_index.png) -210px -5px;
    background-image:  url(../img/icon_index.png);
    background-position-x: -210px;
    background-position-y: -5px;
    background-size: 565px 1053px;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 565px 1053px;
    display: inline-block;
    margin-left: 30px
}
#section-flow ul li:nth-child(2) i {
    content: '';
    width: 60px;
    height: 60px;
    background: url(../img/icon_index.png)  -280px -5px;
    background-image:  url(../img/icon_index.png) ;
    background-position-x: -280px;
    background-position-y: -5px;
    background-size: 565px 1053px;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 565px 1053px;
    display: inline-block;
    margin-left: 25px;
}
#section-flow ul li:nth-child(3) i {
    content: '';
    width: 80px;
    height: 60px;
    background: url(../img/icon_index.png)  -380px -10px;
    background-image:  url(../img/icon_index.png) ;
    background-position-x: -380px;
    background-position-y: -10px;
    background-size: 565px 1053px;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 565px 1053px;
    display: inline-block;
    margin-left: 25px;
}
#section-flow ul li:nth-child(4) {
    width: 250px;
}
#section-flow ul li:nth-child(4) i {
    content: '';
    width: 60px;
    height: 60px;
    background: url(../img/icon_index.png)  -480px -5px;
    background-image:  url(../img/icon_index.png) ;
    background-position-x: -480px;
    background-position-y: -5px;
    background-size: 565px 1053px;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: 565px 1053px;
    display: inline-block;
    margin-left: 30px;
}