<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.rc.dao.InterviewMapper">
	
	<resultMap id="resumeAndInterviewMap" type="com.qc.rc.entity.pojo.InterviewPojo">		
		<id column="INTERVIEW_ID" property="interviewId"></id>
		<result column="INTERVIEW_JOB" property="interviewJob"></result>
		<result column="INTERVIEW_ADDRESS" property="interviewAddress"></result>
		<result column="INTERVIEW_TIME" property="interviewTime"></result>
		<result column="INTERVIEW_STATUS" property="interviewStatus"></result>
		<result column="INTERVIEW_INFO" property="interviewInfo"></result>
		<!-- 加一条recodeinfo -->
		<result column="INTERVIEW_RECODE_INFO" property="interviewRecodeInfo"></result>
		<result column="INTERVIEW_ASSOCIATE_USERNAME" property="interviewAssociateUsername"></result>
		<result column="INTERVIEW_ASSOCIATE_PHONE" property="interviewAssociatePhone"></result>
		<association property="resume" javaType="com.qc.rc.entity.Resume">
			<id column="RESUME_ID" property="resumeId"></id>
			<result column="RESUME_NAME" property="resumeName"></result>
			<result column="RESUME_PHONE" property="resumePhone"></result>
		</association>
	</resultMap>
	
	
	<select id="selectInterviewsByInterviewId" resultMap="resumeAndInterviewMap">
	select 
	  i.INTERVIEW_ID,i.INTERVIEW_INFO,i.INTERVIEW_JOB,i.INTERVIEW_ADDRESS,i.INTERVIEW_TIME,i.INTERVIEW_STATUS,i.INTERVIEW_ASSOCIATE_USERNAME,i.INTERVIEW_ASSOCIATE_PHONE,
	  r.RESUME_ID,r.RESUME_NAME,r.RESUME_PHONE
    from  RC_INTERVIEW i left join  RC_RESUME r
    on  r.RESUME_ID = i.INTERVIEW_RESUME_ID 
    where i.INTERVIEW_ID = #{InterviewId}
  	</select>
  	
  	<update id="updateInterviewsByInterviewId" parameterType="com.qc.rc.entity.pojo.InterviewPojo">
  		update RC_INTERVIEW i
		set i.INTERVIEW_JOB = #{interviewJob},
		    i.INTERVIEW_TIME = #{interviewTime},
		    i.INTERVIEW_ADDRESS = #{interviewAddress},
		    i.INTERVIEW_ASSOCIATE_USERNAME = #{interviewAssociateUsername},
		    i.INTERVIEW_ASSOCIATE_PHONE = #{interviewAssociatePhone},
		    i.INTERVIEW_INFO = #{interviewInfo},
		    i.INTERVIEW_STATUS = #{interviewStatus},
		    i.INTERVIEW_UPDATE_TIME = sysdate,
		    i.INTERVIEW_UPDATE_USER = 'jayne'
		where i.INTERVIEW_ID = #{interviewId}
  	</update>
  	
  	
  	<select id="selectInterviewsByUserId" resultMap="resumeAndInterviewMap">
		select 
		  i.INTERVIEW_ID,i.INTERVIEW_JOB,i.INTERVIEW_TIME,
		  r.RESUME_ID,r.RESUME_NAME
	    from  RC_RESUME r left join RC_INTERVIEW i 
	    on  r.RESUME_ID = i.INTERVIEW_RESUME_ID 
	    where i.INTERVIEW_USER_ID = #{userId}
  	</select>
</mapper>