<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.rc.dao.InterviewMapper">
	<resultMap id="resumeAndInterviewMap" type="com.qc.rc.entity.pojo.InterviewPojo">		
		<id column="INTERVIEW_ID" property="interviewId"></id>
		<result column="INTERVIEW_JOB" property="interviewJob"></result>
		<result column="INTERVIEW_ADDRESS" property="interviewAddress"></result>
		<result column="INTERVIEW_TIME" property="interviewTime"></result>
		<result column="INTERVIEW_STATUS" property="interviewStatus"></result>
		<result column="INTERVIEW_INFO" property="interviewInfo"></result>
		<association property="resume" javaType="com.qc.rc.entity.Resume">
			<id column="RESUME_ID" property="resumeId"></id>
			<result column="RESUME_NAME" property="resumeName"></result>
			<result column="RESUME_PHONE" property="resumePhone"></result>
		</association>
	</resultMap>
	
		<resultMap id="resumeAndInterviewMap2" type="com.qc.rc.entity.pojo.InterviewPojo">		
		<id column="INTERVIEW_ID" property="interviewId"></id>
		<result column="INTERVIEW_JOB" property="interviewJob"></result>
		<result column="INTERVIEW_ADDRESS" property="interviewAddress"></result>
		<result column="INTERVIEW_TIME" property="interviewTime"></result>
		<result column="INTERVIEW_STATUS" property="interviewStatus"></result>
		<result column="INTERVIEW_INFO" property="interviewInfo"></result>
		<result column="INTERVIEW_ASSOCIATE_USERNAME" property="interviewAssociateUsername"></result>
		<result column="INTERVIEW_ASSOCIATE_PHONE" property="interviewAssociatePhone"></result>
		<association property="resume" javaType="com.qc.rc.entity.Resume">
			<id column="RESUME_ID" property="resumeId"></id>
			<result column="RESUME_NAME" property="resumeName"></result>
			<result column="RESUME_PHONE" property="resumePhone"></result>
		</association>
	</resultMap>
	
 	<select id="selectAllInterviewsByUserId" resultMap="resumeAndInterviewMap">
    select 
	RC_INTERVIEW.INTERVIEW_ID,RC_INTERVIEW.INTERVIEW_JOB,RC_INTERVIEW.INTERVIEW_ADDRESS,RC_INTERVIEW.INTERVIEW_TIME,RC_INTERVIEW.INTERVIEW_STATUS,
	RC_RESUME.RESUME_ID,RC_RESUME.RESUME_NAME,RC_RESUME.RESUME_PHONE
    from RC_INTERVIEW,RC_RESUME
    where INTERVIEW_USER_ID = #{userId,jdbcType=INTEGER}
    and RC_INTERVIEW.INTERVIEW_RESUME_ID = RC_RESUME.RESUME_ID
    and RC_INTERVIEW.INTERVIEW_DELETE_FLAG = 0
    order by INTERVIEW_CREATE_TIME desc
  	</select>
  	
  	<select id="selectByCondition" resultMap="resumeAndInterviewMap">
    select 
	RC_INTERVIEW.INTERVIEW_ID,RC_INTERVIEW.INTERVIEW_JOB,RC_INTERVIEW.INTERVIEW_ADDRESS,RC_INTERVIEW.INTERVIEW_TIME,RC_INTERVIEW.INTERVIEW_STATUS,
	RC_RESUME.RESUME_ID,RC_RESUME.RESUME_NAME,RC_RESUME.RESUME_PHONE
    from RC_INTERVIEW,RC_RESUME
   	 <where>
    		INTERVIEW_USER_ID = #{userId,jdbcType=INTEGER}
		    and RC_INTERVIEW.INTERVIEW_RESUME_ID = RC_RESUME.RESUME_ID
		    and RC_INTERVIEW.INTERVIEW_DELETE_FLAG = 0
		    
		    <if test="startTime != null and startTime !=''">
				AND RC_INTERVIEW.INTERVIEW_TIME &gt;= #{startTime}
			</if>
		    <if test="overTime != null and overTime !=''">
				AND RC_INTERVIEW.INTERVIEW_TIME &lt;= #{overTime} 
			</if>
    		<if test="interviewJob != null and interviewJob !=''">
				AND RC_INTERVIEW.INTERVIEW_JOB LIKE '%${interviewJob}%'
			</if>
			<if test="interviewInfo != null and interviewInfo !=''">
				AND RC_RESUME.RESUME_NAME LIKE '%${interviewInfo}%'
				OR RC_INTERVIEW.INTERVIEW_ADDRESS LIKE '%${interviewInfo}%'
				OR RC_INTERVIEW.INTERVIEW_INFO LIKE '%${interviewInfo}%'
			</if>
			
			
   	 </where>
   	 order by INTERVIEW_CREATE_TIME desc
  	</select>
  	
  	<select id="getAllInterviewsByUserId" resultType="java.lang.Integer">
    select 
	count(*)
    from RC_INTERVIEW
    where INTERVIEW_USER_ID = #{userId,jdbcType=INTEGER}
    and INTERVIEW_DELETE_FLAG = 0
  	</select>
  	
  	<select id="getAllInterviewsByCondition" resultType="java.lang.Integer">
    select 
	count(*)
	from RC_INTERVIEW,RC_RESUME
   	 <where>
    		INTERVIEW_USER_ID = #{userId,jdbcType=INTEGER}
		    and RC_INTERVIEW.INTERVIEW_RESUME_ID = RC_RESUME.RESUME_ID
		    and RC_INTERVIEW.INTERVIEW_DELETE_FLAG = 0
		    
		    <if test="startTime != null and startTime !=''">
				AND RC_INTERVIEW.INTERVIEW_TIME &gt;= #{startTime}
			</if>
		    <if test="overTime != null and overTime !=''">
				AND RC_INTERVIEW.INTERVIEW_TIME &lt;= #{overTime} 
			</if>
    		<if test="interviewJob != null and interviewJob !=''">
				AND RC_INTERVIEW.INTERVIEW_JOB LIKE '%${interviewJob}%'
			</if>
			<if test="interviewInfo != null and interviewInfo !=''">
				AND RC_RESUME.RESUME_NAME LIKE '%${interviewInfo}%'
				OR RC_INTERVIEW.INTERVIEW_ADDRESS LIKE '%${interviewInfo}%'
				OR RC_INTERVIEW.INTERVIEW_INFO LIKE '%${interviewInfo}%'
			</if>
			
			
   	 </where>
  	</select>
  	
  	
  	<insert id="addInterview" parameterType="com.qc.rc.entity.pojo.InterviewPojo">
  	insert into RC_INTERVIEW(INTERVIEW_ID,INTERVIEW_RESUME_ID,INTERVIEW_JOB,INTERVIEW_TIME,INTERVIEW_ASSOCIATE_USERNAME
  	,INTERVIEW_ASSOCIATE_PHONE,INTERVIEW_ADDRESS,INTERVIEW_INFO,INTERVIEW_STATUS,INTERVIEW_CREATE_USER,INTERVIEW_CREATE_TIME
  	,INTERVIEW_DELETE_FLAG,INTERVIEW_USER_ID) 
  		values(RC_INTERVIEW_SEQUENCE.nextval,#{interviewResumeId},#{interviewJob},#{interviewTime},#{interviewAssociateUsername},
  		#{interviewAssociatePhone},#{interviewAddress},#{interviewInfo},#{interviewStatus},#{interviewCreateUser},
  		#{interviewCreateTime},#{interviewDeleteFlag},#{interviewUserId})
  		
  		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="interviewId">
             select max(INTERVIEW_ID) from RC_INTERVIEW
        </selectKey> 
  	</insert>

	<update id="deleteInterview" parameterType="com.qc.rc.entity.pojo.InterviewPojo">
	update RC_INTERVIEW 
	set INTERVIEW_DELETE_FLAG = 1,
		INTERVIEW_UPDATE_TIME = sysdate,
		INTERVIEW_UPDATE_USER = #{interviewUpdateUser}
	 where INTERVIEW_ID = #{interviewId,jdbcType=INTEGER}
	</update>
	
	<select id="selectInterviewsByResumeId" resultMap="resumeAndInterviewMap2">
	select 
	  i.INTERVIEW_ID,i.INTERVIEW_INFO,i.INTERVIEW_JOB,i.INTERVIEW_ADDRESS,i.INTERVIEW_TIME,i.INTERVIEW_STATUS,i.INTERVIEW_ASSOCIATE_USERNAME,i.INTERVIEW_ASSOCIATE_PHONE,
	  r.RESUME_ID,r.RESUME_NAME,r.RESUME_PHONE
    from  RC_RESUME r left join RC_INTERVIEW i 
    on  r.RESUME_ID = i.INTERVIEW_RESUME_ID 
    where r.RESUME_ID = #{ResumeId,jdbcType=INTEGER}
  	</select>
  	
  	<update id="updateInterviewsByResumeId" parameterType="com.qc.rc.entity.pojo.InterviewPojo">
  		update RC_INTERVIEW i
		set i.INTERVIEW_JOB = #{interviewJob},
		    i.INTERVIEW_TIME = #{interviewTime},
		    i.INTERVIEW_ADDRESS = #{interviewAddress},
		    i.INTERVIEW_ASSOCIATE_USERNAME = #{interviewAssociateUsername},
		    i.INTERVIEW_ASSOCIATE_PHONE = #{interviewAssociatePhone},
		    i.INTERVIEW_INFO = #{interviewInfo},
		    i.INTERVIEW_STATUS = #{interviewStatus},
		    i.INTERVIEW_UPDATE_TIME = sysdate,
		    i.INTERVIEW_UPDATE_USER = 'jayne'
		where i.INTERVIEW_RESUME_ID = #{interviewResumeId}
  	</update>
  	
  	
  	<select id="selectInterviewsByUserId" resultMap="resumeAndInterviewMap2">
		select 
		  i.INTERVIEW_ID,i.INTERVIEW_JOB,i.INTERVIEW_TIME,
		  r.RESUME_ID,r.RESUME_NAME
	    from  RC_RESUME r left join RC_INTERVIEW i 
	    on  r.RESUME_ID = i.INTERVIEW_RESUME_ID 
	    where i.INTERVIEW_USER_ID = #{userId,jdbcType=INTEGER}
  	</select>
</mapper>