<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.rc.dao.PersonalMapper">
	<resultMap id="BaseResultMap" type="com.qc.rc.entity.User">
		 <constructor>
      <idArg column="USER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_PHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_SEX" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="USER_COMPANY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_BIRTHDAY" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="USER_INTEGRAL" javaType="java.lang.Integer" jdbcType="INTEGER" />
       <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="USER_STATUS" javaType="java.lang.Integer" jdbcType="INTEGER" />
       <arg column="USER_PIC" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID, USER_PHONE,USER_PASSWORD, USER_NAME,USER_SEX, USER_COMPANY,
		USER_BIRTHDAY, USER_INTEGRAL,
		CREATE_TIME, UPDATE_TIME,USER_STATUS,USER_PIC
	</sql>
	
	
	<resultMap type="com.qc.rc.entity.User" id="userInfo">

		<id column="USER_ID" property="userId"></id>
		<result column="USER_NAME" property="userName"></result>
		<result column="USER_PHONE" property="userPhone"></result>
		<result column="USER_COMPANY" property="userCompany"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>		
		
	</resultMap> 
		
	<update id="updataPassword" parameterType="com.qc.rc.entity.User">
		update RC_USER set USER_PASSWORD=#{userPassword} where USER_ID=#{userId}

	</update>
	
	
	
	<select id="getUserInfo"  resultMap="userInfo"  parameterType="java.lang.String">
		SELECT 				
		USER_ID, USER_PHONE, USER_NAME, USER_COMPANY,USER_BIRTHDAY
		FROM RC_USER where USER_ID=#{userId}
	
	</select>
	
	
	
	<update id="updateUser"  parameterType="com.qc.rc.entity.User" >
		update RC_USER set
			USER_PHONE=#{userPhone,jdbcType=VARCHAR},
			USER_NAME=#{userName,jdbcType=VARCHAR},
			USER_COMPANY=#{userCompany,jdbcType=VARCHAR},
			USER_BIRTHDAY=#{userBirthday,jdbcType=DATE}
		where USER_ID=#{userId,jdbcType=VARCHAR}
	</update>
	
	<!-- 简历兑换查询 -->
	
	<resultMap type="com.qc.rc.entity.pojo.UserExchangeResumePojo" id="userExResume">

		<id column="RESUME_ID" property="resumeId"></id>
		<result column="RESUME_NAME" property="resumeName"></result>
		<result column="RESUME_SEX" property="resumeSex"></result>
		<result column="RESUME_WORK_YEARS" property="resumeWorkYears"></result>
		<result column="RESUME_GRADUATE_INSTITUTION" property="resumeGraduateInstitution"></result>
		<result column="RESUME_EDUCATION" property="resumeEducation"></result>
		<result column="RESUME_JOB_INTENSION" property="resumeJobIntension"></result>	
		<result column="RESUME_CREATE_TIME" property="resumeCreateTime"></result>
		<association property="userresume" javaType="com.qc.rc.entity.UserResume">
		
			<result column="UR_USER_ID" property="urUesrId"></result>
			<result column="UR_RESUME_ID" property="urResumeId"></result>
			<result column="RESUME_CREATE_TIME" property="urCreateTime"></result>
			<result column="UR_RESUME_GETWAT" property="urResumeGetway"></result>		
		
		</association>

		
	</resultMap>
	
	<select id="getAllExchangResume" resultMap="userExResume" parameterType="java.lang.String" >
    
       SELECT RR.RESUME_ID,RR.RESUME_NAME,RR.RESUME_SEX,RR.RESUME_WORK_YEARS,
          RR.RESUME_GRADUATE_INSTITUTION,RR.RESUME_EDUCATION,
          RR.RESUME_JOB_INTENSION,RR.RESUME_CREATE_TIME
     FROM RC_RESUME RR INNER JOIN RC_USER_RESUME RUR    
     ON(RR.RESUME_ID=RUR.UR_RESUME_ID AND RUR.UR_RESUME_GETWAT!='0' AND RUR.UR_DELETE_FLAG!=1)
     INNER JOIN RC_USER RU
     ON (RU.user_id = RUR.UR_user_id)
     WHERE RU.USER_ID =#{userId} and RR.REsume_ID = RUR.UR_RESume_id
      ORDER BY RR.RESUME_CREATE_TIME DESC
      
	</select>
	
	
</mapper>