<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.rc.dao.PersonalMapper">
	<resultMap id="BaseResultMap" type="com.qc.rc.entity.User">
		 <constructor>
      <idArg column="USER_ID" javaType="java.math.BigDecimal" jdbcType="INTEGER" />
      <arg column="USER_PHONE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_SEX" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="USER_COMPANY" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="USER_BIRTHDAY" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="USER_INTEGRAL" javaType="java.lang.Integer" jdbcType="INTEGER" />
       <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="USER_STATUS" javaType="java.lang.Integer" jdbcType="INTEGER" />
       <arg column="USER_PIC" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
	</resultMap>
	<sql id="Base_Column_List">
		USER_ID, USER_PHONE,USER_PASSWORD, USER_NAME,USER_SEX, USER_COMPANY,
		USER_BIRTHDAY, USER_INTEGRAL,
		CREATE_TIME, UPDATE_TIME,USER_STATUS,USER_PIC
	</sql>
	
	
	<resultMap type="com.qc.rc.entity.User" id="userInfo">

		<id column="USER_ID" property="userId"></id>
		<result column="USER_NAME" property="userName"></result>
		<result column="USER_PHONE" property="userPhone"></result>
		<result column="USER_COMPANY" property="userCompany"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>		
		
	</resultMap> 
	
<!--  	<sql id="Base_Column_List">
		USER_ID, USER_PHONE, USER_NAME, USER_COMPANY,USER_BIRTHDAY
		
	</sql> -->
	
	<update id="updataPassword" parameterType="com.qc.rc.entity.User">
		update RC_USER set USER_PASSWORD=#{userPassword} where USER_PHONE=#{userPhone}
<!--  			update RC_USER set USER_PASSWORD=111 where USER_PHONE=15542431051 -->

	</update>
	
	
	
	<select id="getUserInfo"  resultMap="userInfo"  parameterType="java.lang.Integer">
		SELECT 				
		<!-- <include refid="Base_Column_List"/> -->
		USER_ID, USER_PHONE, USER_NAME, USER_COMPANY,USER_BIRTHDAY
		FROM RC_USER where USER_ID=#{userId}
	
	</select>
	
	
	
	<update id="updateUser"  parameterType="com.qc.rc.entity.User" >
		update RC_USER set
			
			USER_NAME=#{userName,jdbcType=VARCHAR},
			USER_COMPANY=#{userCompany,jdbcType=VARCHAR},
			USER_BIRTHDAY=#{userBirthday,jdbcType=DATE}
		where USER_ID=#{userId,jdbcType=INTEGER}
	</update>
	
	<!-- 简历兑换查询 -->
	
	<resultMap type="com.qc.rc.entity.UserResume" id="userExResume">

		<id column="UR_ID" property="userId"></id>
		<result column="UR_USER_ID" property="userName"></result>
		<result column="UR_RESUME_ID" property="userPhone"></result>
		<result column="UR_RESUME_GETWAT" property="userCompany"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>
		<result column="USER_BIRTHDAY" property="userBirthday"></result>		
		
	</resultMap>
	
	<select id="userExchangeResume" parameterType="java.lang.Integer" resultMap="userExResume">
		select
		 RESUME_NAME,RESUME_SEX,RESUME_WORK_YEARS,RESUME_GRADUATE_INSTITUTION,
		 RESUME_EDUCATION,RESUME_JOB_INTENSION,RESUME_CREATE_TIME
		from RC_RESUME,RC_USER_RESUME 
		where UR_RESUME_GETWAT=#{urResumeGetway=1}
		
	
		
	</select>
	
	
</mapper>