<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.rc.dao.UserResumeMapper">
	
	
	 <insert id="resumeAddResumeUser" >
 	  insert into RC_USER_RESUME (UR_ID,UR_USER_ID,UR_RESUME_ID,UR_RESUME_GETWAT,UR_RESUME_SHARE_FLAG,UR_DELETE_FLAG,UR_CREATE_TIME)
 	  values (
 	   	  #{userResumeId},
 	 	  #{userId},
 	  	  #{resumeId},
 	 	  0,
 	 	  0,
 	 	  0,
 	   sysdate
 	  )
 	 </insert>
 	 
 	 
 	 	 <insert id="SharingInsertUserResume" parameterType="com.qc.rc.entity.UserResume">
 	  insert into RC_USER_RESUME (UR_ID,UR_USER_ID,UR_RESUME_ID,UR_RESUME_GETWAT,UR_RESUME_SHARE_FLAG,UR_DELETE_FLAG,UR_CREATE_TIME)
 	  values (USER_RESUME_SEQUENCE.nextval,
 	   #{urUesrId},
 	   #{urResumeId},
 	   #{urResumeGetway},
 	   #{urResumeShareFlag},
 	   0,
 	   sysdate
 	  )
 	 </insert>
 	 
	
	
</mapper>