<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qc.rc.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.qc.rc.entity.User" > 
 <constructor>
<idArg jdbcType="DECIMAL" javaType="java.math.BigDecimal" column="USER_ID"/>
<arg jdbcType="VARCHAR" javaType="java.lang.String" column="USER_PHONE"/>
<arg jdbcType="VARCHAR" javaType="java.lang.String" column="USER_PASSWORD"/>
<arg jdbcType="VARCHAR" javaType="java.lang.String" column="USER_NAME"/>
<arg jdbcType="DECIMAL" javaType="java.lang.Integer" column="USER_SEX"/>
<arg jdbcType="VARCHAR" javaType="java.lang.String" column="USER_COMPANY"/>
<arg jdbcType="DATE" javaType="java.util.Date" column="USER_BIRTHDAY"/>
<arg jdbcType="VARCHAR" javaType="java.lang.String" column="USER_PIC"/>
<arg jdbcType="DECIMAL" javaType="java.lang.Integer" column="USER_INTEGRAL"/>
<arg jdbcType="DATE" javaType="java.util.Date" column="CREATE_DATE"/>
<arg jdbcType="DATE" javaType="java.util.Date" column="UPDATE_DATE"/>
<arg jdbcType="DECIMAL" javaType="java.lang.Short" column="USER_STATUS"/>
<arg jdbcType="DECIMAL" javaType="java.lang.Short" column="DETELET_FLAG"/>
</constructor>
</resultMap> 
	
    <select id="findUserByPhone"  parameterType="java.lang.String" resultType="com.qc.rc.entity.User">
    
   		 select USER_PHONE as userPhone,USER_PASSWORD as userPassword from RC_USER where USER_PHONE=#{userPhone}
 	</select>
 	
  	<insert id="insertNewUser" parameterType="com.qc.rc.entity.User" >
	
		INSERT INTO RC_USER(
		USER_ID,
		USER_PHONE,
		USER_PASSWORD,
		CREATE_TIME
		) 
		VALUES(
		MY_TABLE_SEQ.NEXTVAL,
		#{userPhone,jdbcType=VARCHAR},
		#{userPassword,jdbcType=VARCHAR},
		SYSDATE
		)	
		
		<selectKey keyProperty="userId" resultType="java.lang.Integer"
			order="AFTER">
			select
			MY_TABLE_SEQ.CURRVAL AS lastId FROM DUAL
		</selectKey> 
	</insert> 
	

</mapper>